	<ul class="navbar-nav text-uppercase ml-auto" style="display: block;">
			<li style="float:left; margin-right:30px;" class="nav-item">
				<a class="nav-link" href="/admin/">Admin</a>
			</li>
			<li style="float:left; margin-right:30px;" class="nav-item">
				<a class="nav-link" href="/admin/categories">Categories</a>
			</li>

			<li style="float:left; margin-right:30px;" class="nav-item">
				<a class="nav-link" href="/admin/posts">Posts</a>
			</li>
		</ul>